body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 1550px;
  }
  
  section {
    padding: 50px 0;
    text-align: center;
    width: 1900px; /* ใช้ 100% ของหน้าจอ */
    min-height: 100vh;
    overflow-y: hidden; 
    /* display: flex; 
    align-items: center;
    justify-content: center; */
    background-color: #ff9900;
    border: 1px solid red;
  }
  
  .container {
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translate(40%, 30%);
    height: 500px;
  }
  .container h1{
    text-align: left;
    font-size: 42px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    text-shadow: 2px 2px 4px #000000, -2px -2px 4px #ffffff;
  }
  .container p{
    margin-top: 50px;
    margin-left: 50px;
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
  }
  .container2 {
    width: 30%;
    padding: 20px;
    height: 300px;
    /* background-color: rgba(240, 248, 255, 0.836); */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    top: 50%; /* กึ่งกลางแนวตั้ง */
    left: 50%; /* กึ่งกลางแนวนอน */
    transform: translate(40%, 100%);

  }
  .container3 {
    width: 45%;
    padding: 20px;
    height: 600px;
    background-color: aliceblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    top: 50%; /* กึ่งกลางแนวตั้ง */
    left: 50%; /* กึ่งกลางแนวนอน */
    transform: translate(90%, 28%);

  }
  
  /* ปรับสีพื้นหลังแต่ละ Section */
  .section-1 { background-image: url(../images/sec1bg.png); background-size:auto;} /* สีเบจ */
  .section-2 { background-image: url(../images/sec2bg.png); background-size:auto} /* สีฟ้าอ่อน */
  .section-3 { background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7)), 
    url(../images/sec3.png); } /* สีเขียวอ่อน */
  .section-4 { background-color: #ffb6c1; } /* สีชมพูอ่อน */
  
  .navbar {
    position: fixed; /* ตรึง Navbar */
    top: 2.5%; /* กึ่งกลางแนวตั้ง */
    left: 50%; /* กึ่งกลางแนวนอน */
    transform: translate(-50%, -50%); /* ปรับตำแหน่งให้ตรงกลาง */
    background: rgba(0, 0, 0, 0); /* สีดำโปร่งใส */
    padding: 15px 30px;
    border-radius: 10px;
    backdrop-filter: blur(10px); /* เอฟเฟกต์เบลอ */
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  /* สไตล์ของรายการเมนู */
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 150px;
  }
  
  /* สไตล์ของลิงก์ */
  .navbar ul li {
    display: inline;
  }
  
  .navbar ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
  }
  
  .navbar ul li a:hover {
    color: #ff9900;
  }
  